<div class="container">
<%= form_with(model:[category,category.tasks.build]) do |f| %>
<div class="form-control">
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :deadline %>
        <%= f.date_field :deadline %>
    </div>
    <div >
        <%= f.label :Status %>
        <%= f.select :Status, [['Ongoing', 'ongoing'], ['Done', 'done']], { prompt: 'Select a Status'  } %>
    </div>
    <%=  f.submit "Create", class: "btn btn-primary mt-1" %>
</div>
<% end %>   
</div>
 