<div class="task -<%= task.id %> container" >
 <hr/>
    <div id="task-body-<%= task.id %>">
        <div>
            Name: <%= task.name %> 
        </div> 
        <div>
           Description: <%= task.description %>
        </div>
        <div>
            Deadline: <%= task.deadline %>
        </div> 
        <div>
            Status: <%= task.status %>
        </div>
    </div>
    <div class="  d-flex justify-content-end ">
            <%= link_to 'Edit',nil, remote: true, class: 'btn btn-primary',
            data:
            {
                controller: "tasks",
                action: "tasks#toggleForm",
                tasks_form_param: "edit-form-#{task.id}",
                tasks_body_param: "task-body-#{task.id}",
                
            } %>

            <%= button_to 'Delete', [category, task], method: :delete, class: 'btn btn-danger' %> 
    </div>
        <div id="edit-form-<%= task.id %>" class="d-none"> 
            <%= render 'tasks/form', category: @category, task:  task, submit_label: "Update"  %>
        </div>
   
    <hr/>
 
</div>