<div  class="button-group row justify-content-end" id="<%= dom_id category %> container" style="border:1px solid black; padding: 1em; margin:1em; ">
 
    <div class="d-flex justify-content-start gap-5  ">
      <div class=" flex flex-row text-center border border-secondary-subtle p-2" >
         <p> <strong>Category Name</strong></p>
           <p><%= category.name %></p>
      </div>
      <div class=" flex flex-row text-center border border-secondary-subtle p-2" >
         <p> <strong>Category Description</strong></p>
           <p> <%= category.description %></p>
      </div>
    </div>  
        <div class="col-1"><%= link_to "Show", category, class: "btn btn-secondary" %></div>
          <div class="col-1"> <%= link_to "Edit", edit_category_path(category),class: "btn btn-secondary" %> </div>
            <div class="col-1" > <%= button_to "Delete", category, method: :delete,class: "btn btn-secondary" %></div>
    

</div>
