
<div  id="<%= dom_id category %>" class="card" class="card mb-3 p-2" style="width: 20rem; border: 1px solid black;"  >
 
    <div class="d-flex flex-column p-2 justify-content-center align-items-center card-body">
      
         
           <p class= "m-0 card-title"><strong>Category Name: </strong><%= category.name %></p>
      
      
 
           <p class= "m-0 card-subtitle mb-2 text-body-secondary"  > <strong>Category Description: </strong><%= category.description %></p>
      
      <hr/>
        <div class="d-flex flex-row gap-5 justify-content-end">
            <%= link_to "Show", category, class: "btn btn-secondary" %> 
                <%= link_to "Edit", edit_category_path(category),class: "btn btn-secondary  card-link" %>  
                <%= button_to "Delete", category, method: :delete,class: "btn btn-secondary" %>
        </div>
    </div>

</div>
  <hr/>