 




<div id="show">
  <%# <%= link_to "Edit this category", edit_category_path(@category) %>  
  <%# <%= render @category %> 
  <h1>Name: <%= @category.name %></h1>
  <h1>Description: <%= @category.description %></h1>
  <%= link_to "Back to categories", categories_path %>

  <%# <%= button_to "Destroy this category", @category, method: :delete %>  
</div>
<hr/>
<div class="container">
 <%= render 'tasks/form', category: @category, task:  @category.tasks.build, submit_label: "Submit"   %>
  <% @tasks.each do |task| %>
  <%= render 'tasks/task', category: @category,  task: task %>
  <% end %>
</div>
